@import "tailwindcss";

ion-toolbar{
    --background: rgb(123,203,140);
}
ion-content {
    --background: linear-gradient(90deg, rgba(123,203,140,1) 0%, rgb(167, 243, 177) 60%);
}

ion-back-button {
    --color: #fff; /* Change to the color you want */
}

ion-card{
    border-radius: 18px;
}
  
  
.app-title{
    font-size: 1.2rem;
}

.small-text{
    font-size: 12px ;
    line-height: 1;
    color: #fff;
}

.mt-10{
    margin-top: 10px;
}

.mb-10{
    margin-bottom: 10px;
}

.text-center{
    text-align: center;
}

.color-white{
    color: #fff;
}

