@import "tailwindcss";

ion-toolbar{
    --background: rgb(203, 168, 123);
  }

  ion-back-button {
    --color: #fff; /* Change to the color you want */
  }
  
  
.app-title{
    font-size: 1.2rem;
}

.small-text{
    font-size: 12px ;
    line-height: 1;
    color: #fff;
}

.mt-10{
    margin-top: 10px;
}

.mb-10{
    margin-bottom: 10px;
}

.text-center{
    text-align: center;
}

.color-white{
    color: #fff;
}